h1 {
    text-align: center;
    font-size: 50px;
}
h2 {
    text-align: center;
}
body {
    background-color: #ccffff;
}
.btn {
    background-color: #33ffff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}