h1 {
    text-align: center;
    font-size: 50px;
}

.wrapper {
	height: 0vh;
	/*This part is important for centering*/
	display: flex;
	align-items: center;
	justify-content: center;
}

.content{
	text-align: center;
	margin-top: 30px;
}

#typing-demo1 {
	width: 11ch;
	animation: typing 2s steps(22), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	font-family: monospace;
	font-size: 1.5em;
}

#typing-demo2 {
	width: 15ch;
	animation: typing 2s steps(22), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	font-family: monospace;
	font-size: 1.5em;
}

#typing-demo3 {
	width: 13ch;
	animation: typing 2s steps(22), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	font-family: monospace;
	font-size: 1.5em;
}

@keyframes typing {
	from {
		width: 0
	}
}

body {
    background-color: #ccffff;
}
.btn {
    background-color: #33ffff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
	margin-bottom: 100px;
}